{
  "env": {
    "test": {
      "plugins": [
        "istanbul",
        {
          "exclude": [

          ],
          "include": [
            "src/"
          ]
        }
      ]
    }

  },
  "ignore": ["dist/", "coverage/"],
  "presets": ["env", "stage-2", "react"]
}